.front-1 {
    display: flex;
    margin: 0px;
    background-color: var(--c2);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
}

.front-side-1 {
    display: flex;
    flex-direction: column;
    font-family : "open sans", sans-serif;
    padding: 40px;
}

.side-1 {
    text-transform: uppercase;
    color : var(--c4);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
    display: block;
}

.side-2 {
    color: var(--c3);
    margin-top: 0px;
    margin-bottom: 30px;
    display: block;
}

.side-box {
    background-color: var(--c1);
    border-radius: 16px;
}

.side-3 {
    padding: 20px 5px 0;
    text-transform: uppercase;
    color: var(--c3);
    font-weight: 600;
    font-size: 20px;
    display: block;
}

.side-img {
    margin : 20px;
}

.side-4, .side-4:visited {
    text-transform: uppercase;
    transition: 0.4s;
    font-size: 20px;
    padding: 8px 48px;
    border-radius: 16px;
    background-color: var(--c4);
    color: var(--c3);
    font-weight: 600;
}

.side-4:hover {
    background-color: var(--c3);
    color: var(--c6);
}

.side-5 {
    color: var(--c3);
    font-size: 12px;
   margin-top: 18px;
   margin-bottom: 32px;
   display: block;
}