@media screen and (max-width: 968px) {
    .front-3 {
        padding: 0 60px;
    }
    .f4-lien {
        font-size: 18px;
        padding: 6px 13%;
    }
    .f5-1 {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .f5-t {
        max-width: 50%;
    }
    .f5-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    h2 {
        font-size: 20px;
    }
    .f4-t1 {
        font-size: 16px;
    }
    .f4-3 {
        margin: 0 15%;
    }

}